.slide1{
    background-image: url(../../../Images/physio-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2{
    background-image: url(../../../Images/physio-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3{
    background-image: url(../../../Images/yoga-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide1-content{
    clip-path: polygon(0 0, 22% 0, 100% 100%, 0% 100%);
}


.slide2-content{
    float: right;
    clip-path: polygon(0 0, 69% 0, 48% 100%, 0% 100%);
}

.slide3-content{
    clip-path: polygon(43% 25%, 100% 27%, 89% 100%, 28% 100%);
}

@media only screen and (max-width: 720px) {
.slide1-content{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.slide2-content{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.slide3-content{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
}